@{
    Layout = "_AdminLayout";
    ViewData["title"] = "عنوان صفحه";
}

<section class="content-header">
    <h1>
        @ViewData["title"]
        <small>توضیحات</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">

</section>
