@model Blog.CoreLayer.Models.Category.CreateCategoryViewModel
@{
    Layout = "_AdminLayout";
    ViewData["title"] = "افزودن دسته";
}

<section class="content-header">
    <h1>
        @ViewData["title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fa fa-dashboard"></i> دسته بندی ها</a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    
    <form class="box box-danger" method="post" asp-area="Admin" asp-controller="Category" asp-action="Add"> 
        <input type="hidden" asp-for="ParentId"/>
        <div class="box-body row">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Slug"></label>
                    <input asp-for="Slug" class="form-control" />
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MetaTag"></label>
                    <input asp-for="MetaTag" class="form-control" />
                    <span asp-validation-for="MetaTag" class="text-danger"></span>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MetaDescription"></label>
                    <textarea class="form-control" asp-for="MetaDescription" class="form-control"></textarea>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            
            <div class="box-footer">
                <button type="submit" class="btn-success">ثبت اطلاعات</button>
            </div>

        </div>

    </form>

</section>
